body{
	background-color: black;
	// padding: 3em;

}

section{
	background-color: white;
	margin: 4em;
	max-width: 50em;
	padding: 1em;

}

textarea{
width: 100%;
max-width: 50em;
resize: none;
}
.btn{
	margin-top: 1em;
	background-color: black;
}

